.edit-employee > h2 {
  text-align: center;
}

.edit-container {
  margin-top: 50px;
}

.edit-avatar {
    text-align: center;
  }
  
  .edit-avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #ddd;
  }
  