.profileHeader {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid #ccc;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #f5f5f5;
  max-width: 800px;
  margin: 0 auto;
  height: 150px;
  margin-top: 25px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.welcomeMessage {
  text-align: center;

  p {
    display: flex;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
}
